@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url(../img/pexels-igor-haritanovich-1695052.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #6156546b;
    border: #615654;
    color:  #d5a891;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a.hover {
    transform: scale(1.2);
}


.intro-text {
    background-color: #cba8b0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url(../img/pexels-andrew-neel-4264047.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #382c1e67;
    border: #382c1e;
    color:  #d4d0cf;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a.hover {
    transform: scale(1.2);
}

.quality-text {
    background-color: #b89e88;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/pexels-burst-374147.jpg);
    background-size: cover;
    background-position: top;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #dcb08c4d;
    border: #dcb08c;
    color: #d1d6d9;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a.hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #deac82;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #b4b4b6;
    color: #382c1e;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #382c1e;
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.3);
}